name: CI - Build Docker image

on:
  push:
    branches: [ "main", "dev" ]
  pull_request: {}

jobs:
  build_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up QEMU (for multi-arch) # optional
        uses: docker/setup-qemu-action@v2

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Build image
        run: |
          echo "::group::docker build"
          docker build -t vulnerable-app:latest app/.
        echo "::endgroup::"
